Host onsite-xronos-dashboard
  HostName onsite-xronos-dashboard  # TODO: replace with the IP address or URI of your host
  StrictHostKeyChecking no
  ForwardAgent yes

Host onsite-avp-render
  HostName onsite-avp-render  # TODO: replace with the IP address or URI of your host
  StrictHostKeyChecking no
  ForwardAgent yes

Host onsite-avp-builder
  HostName onsite-avp-builder  # TODO: replace with the IP address or URI of your host
  StrictHostKeyChecking no
  ForwardAgent yes

Host onsite-avp-ewaol
  HostName onsite-avp-ewaol  # TODO: replace with the IP address or URI of your host
  StrictHostKeyChecking no
  ForwardAgent yes

