# SPDX-FileCopyrightText: (c) 2025 Xronos Inc. Licensed to DENSO International America, Inc.
# SPDX-License-Identifier: BSD-3-Clause

[Desktop Entry]
Type=Application
Exec={{ soafee_dir }}/set-xenv.sh
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=SOAFEE Set xenv
Comment=Write SOAFEE environment variables, such as current DCV display index, to ~/soafee/.soafee-xenv
