[Desktop Entry]
Type=Application
Exec=code {{ soafee_dir }} --goto {{ soafee_avp_demo_path }}/avp/src/Autoware.lf --sync off 
Hidden=false
NoDisplay=false
X-GNOME-Autostart-enabled=true
Name=code
Comment=Open Visual Studo Code to the SOAFEE workspace.
